{% extends 'basic.html' %}
{% block title %}
Home Page
{% endblock %}
{% block css %}
<style type="text/css">

</style>
{% endblock %}

{% block content %}
 <div class="swiper-container">
    <div class="swiper-wrapper ">
      {% for i in offers %}
      <div class="swiper-slide row m-0" >
<div class="col-md-6 col-12 d-flex align-items-center justify-content-center py-5 py-md-0">
  <h2>{{i.offer_desc}}</h2>
</div>
<div class="col-md-6 col-12 text-center">
<img src="/media/{{i.offer_image}}" class="img-fluid">
</div>
      </div>
      {% endfor %}
          <!-- <div class="swiper-slide row m-0 " >
<div class="col-md-6 col-12 d-flex align-items-center justify-content-center py-5 py-md-0">
  <h2>Cute little wooden horse</h2>
</div>
<div class="col-md-6 col-12 text-center">
<img src="https://cdn.pixabay.com/photo/2012/04/13/21/32/rocking-horse-33719__340.png" class="img-fluid">
</div>
      </div>
           <div class="swiper-slide row m-0 " >
<div class="col-md-6 col-12 d-flex align-items-center justify-content-center py-5 py-md-0">
  <h2>Cute little wooden horse</h2>
</div>
<div class="col-md-6 col-12 text-center">
<img src="https://cdn.pixabay.com/photo/2012/04/13/21/32/rocking-horse-33719__340.png" class="img-fluid">
</div>
      </div>
           <div class="swiper-slide row m-0 " >
<div class="col-md-6 col-12 d-flex align-items-center justify-content-center py-5 py-md-0">
  <h2>Cute little wooden horse</h2>
</div>
<div class="col-md-6 col-12 text-center">
<img src="https://cdn.pixabay.com/photo/2012/04/13/21/32/rocking-horse-33719__340.png" class="img-fluid">
</div>
      </div> -->
    
    </div>
    <!-- Add Pagination -->
  <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination pt-5 text-left pl-md-5"></div>
  </div>


  <div class="swiper-container">

  <div class="row m-0 bg-danger mx-md-5 testimonial">
{% for i in bestsellers %}
    <div class="col-md-4 container p-0 ">
      <img src="/media/{{i.bestseller_image}}"  class="img-fluid">
    </div>
<!--
    <div class="col-md-4 container p-0 ">
       <img src="/media/{{2.bestseller_image}}" class="img-fluid">
    </div>
    <div class="col-md-4 container p-0 ">
       <img src="/media/{{3.bestseller_image}}" class="img-fluid">
    </div> -->
    {% endfor %}
  </div>
  <!-- Add Pagination -->
  <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination pt-5 text-left pl-md-5"></div>
  </div>


<!--   <div class="tab container px-md-5">
  <button class="tablinks" id="activetab" onclick="openCity(event, 'London')"><b>Featured</b></button>
  <button class="tablinks" onclick="openCity(event, 'Paris')"><b>Latest</b></button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')"><b>BestSeller</b></button>
</div>

Tab conten
<div id="London" class="tabcontent row px-md-5 m-0 text-center" style="display: flex;">
      <div class="col-12 col-md-3 ">
   <div class="px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
      <div class="col-12 col-md-3">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1804035675-210x210.jpeg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
      <div class="col-12 col-md-3">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1804622394-210x210.jpeg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
      <div class="col-12 col-md-3">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1804552861-210x210.jpeg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>

</div>

<div id="Paris" class="tabcontent row m-0 px-md-5 text-center" >
  <div class="col-12 col-md-3 bg-light">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
    <div class="col-12 col-md-3">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
    <div class="col-12 col-md-3">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
    <div class="col-12 col-md-3">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
</div>

<div id="Tokyo" class="tabcontent row px-md-5 m-0">
      <div class="col-12 col-md-3 text-center">
   <div class="px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
      <div class="col-12 col-md-3 text-center">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1804035675-210x210.jpeg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
      <div class="col-12 col-md-3 text-center">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1804622394-210x210.jpeg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
      <div class="col-12 col-md-3 text-center">
   <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1804552861-210x210.jpeg" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
  </div>
</div> -->
<h4 class="text-center">Our Products</h4>
{% load static %}
<!-- <p class="message table-success text-center container text-success"></p> -->
     {% for i in category %}
     <h4> flash sale on - {{category}} - recommended items</h4>
    <div class="owl-carousel owl-prods owl-theme px-md-5 p-0 py-4"  >
      {% for j in products %}
{% if j.prod_category == i %}
<div class="item px-md-5 w-100 px-2" >
        <div class=" px-2">
      <img src="/media/{{j.prod_image}}" class="img-fluid">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product/{{j.prod_id}}">{{j.prod_name}}</a></h4>
  
   
    <p class="price bg-light text-center" >₹{{j.prod_price}}</p>
    <p class="text-center addtocart" data-prodid="{{ j.product_id }}" style="cursor: pointer;"><i data-prodid="{{ j.product_id }}" style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>
    <p class="text-center addtowish" data-prodid="{{ j.product_id }}" style="cursor: pointer;"> <i class="fa fa-heart" data-prodid="{{ j.product_id }}" style="color:darkcyan;"></i>Add to Wishlist</p>
<!--    <p class="incdecbtn"> <button class="dec">-</button><span class="px-3 prodquantity" testprodid="{{ i.product_id }}" style="font-weight: bolder" >1</span><button class="inc">+</button> </p> -->

   </div>
 
    </div>

</div>
{% endif %}
{% endfor %}

</div>
{% endfor %}
<!-- 
    <div class="owl-carousel owl-theme container" >
<div class="item">
    <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" height="300px">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
</div>
<div class="item">
    <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" height="300px">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
</div>
<div class="item">
    <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" height="300px">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
</div>
<div class="item">
    <div class=" px-2">
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803914354-360x360.jpg" height="300px">
    </div>
    <div>
      <div class="itemdesc w-100 m-0 p-0 bg-light">
      <h4 class="text-center product_title m-0 p-0"><a href="/product-detail/1">Toy Elephant</a></h4>
  
   
    <p class="price bg-light text-center" >₹200/</p>
    <p class="text-center"><i style="color:darkcyan;" class="fa fa-shopping-bag"></i>Add To Cart</p>

   </div>
 
    </div>
</div>
</div> -->

<div class="container pl-md-5 text-light" style="background-image: url(https://cdn.pixabay.com/photo/2015/03/30/12/37/jellyfish-698521__340.jpg);background-size: cover;height: 450px;display: flex;flex-direction: column;justify-content: center;align-items: center;">
  <h1>Happy Summer!</h1>
  <h5>New Swimming Collection</h5>
 <span><a href="/"><button class="btn btn-light" >Shop Now</button></a> </span>
  
</div>
<br>
<br>

<h5 class="text-center">popular brands</h5>
    <div class="owl-carousel owl-new owl-theme container p-0 py-4"  >

{% for i in brands %}
<div class="item px-md-5 w-100 px-2" >
      <img src="/media/{{i.brand_image}}" height="200px">

</div>
{% endfor %}
<!--
<div class="item px-md-5 w-100 px-2" >
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803356546-142x143.png" height="200px">

</div>
<div class="item px-md-5 w-100 px-2" >
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803356546-142x143.png" height="200px">

</div>
<div class="item px-md-5 w-100 px-2" >
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803356546-142x143.png" height="200px">

</div>
<div class="item px-md-5 w-100 px-2" >
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803356546-142x143.png" height="200px">

</div>
<div class="item px-md-5 w-100 px-2" >
      <img src="https://parkofideas.com/kidz/demo3/wp-content/uploads/2016/09/demo3-1803356546-142x143.png" height="200px">

</div> -->
</div>



<!-- <div class="table-primary text-center py-5 container" >
  <h5> Subscribe to Newsletter</h5>
 <form class="form-inline d-flex justify-content-center mt-4">

  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Password</label>
    <input type="email" class="form-control px-5" id="inputPassword2" placeholder="Subscribe to our Newsletter">
  </div>
  <button type="submit" class="btn btn-primary mb-2">signup up</button>
</form>
  
</div> -->
<h5 class="text-center">Blog Posts</h5>
<div class="container">
<div class="blogpost row m-0 p-0 my-4">
  
  <div class="col-md-6 row m-0 p-0 my-4">
    <div class="col-md-5 p-0">
    <img src="https://media.istockphoto.com/photos/top-view-on-childs-hand-playing-with-multicolor-plastic-bricks-at-the-picture-id1160454916?b=1&k=6&m=1160454916&s=170667a&w=0&h=T6xrRidzLNm4Bb4iiEOSbbXii8Mj1WrxnALQIQUWhXQ=" class="img-fluid" >
    </div>
    <div class="col-md-7 text-center">
    <p>September 1 2020</p>
    <h4>Lorem ipsum dolor sit amet, c</h4>
    <a href="#">Read More</a>
  </div>
    
  </div>
    <div class="col-md-6 row m-0 p-0 my-4">
    <div class="col-md-5 p-0">
    <img src="https://media.istockphoto.com/photos/top-view-on-childs-hand-playing-with-multicolor-plastic-bricks-at-the-picture-id1160454916?b=1&k=6&m=1160454916&s=170667a&w=0&h=T6xrRidzLNm4Bb4iiEOSbbXii8Mj1WrxnALQIQUWhXQ=" class="img-fluid" >
    </div>
    <div class="col-md-7 text-center">
    <p>September 1 2020</p>
    <h4>Lorem ipsum dolor sit amet, c</h4>
    <a href="#">Read More</a>
  </div>
    
  </div>
      <div class="col-md-6 row m-0 p-0 my-4">
    <div class="col-md-5 p-0">
    <img src="https://media.istockphoto.com/photos/top-view-on-childs-hand-playing-with-multicolor-plastic-bricks-at-the-picture-id1160454916?b=1&k=6&m=1160454916&s=170667a&w=0&h=T6xrRidzLNm4Bb4iiEOSbbXii8Mj1WrxnALQIQUWhXQ=" class="img-fluid" >
    </div>
    <div class="col-md-7 text-center">
    <p>September 1 2020</p>
    <h4>Lorem ipsum dolor sit amet, c</h4>
    <a href="#">Read More</a>
  </div>
    
  </div>
      <div class="col-md-6 row m-0 p-0 my-4">
    <div class="col-md-5 p-0">
    <img src="https://media.istockphoto.com/photos/top-view-on-childs-hand-playing-with-multicolor-plastic-bricks-at-the-picture-id1160454916?b=1&k=6&m=1160454916&s=170667a&w=0&h=T6xrRidzLNm4Bb4iiEOSbbXii8Mj1WrxnALQIQUWhXQ=" class="img-fluid" >
    </div>
    <div class="col-md-7 text-center">
    <p>September 1 2020</p>
    <h4>Lorem ipsum dolor sit amet, c</h4>
    <a href="#">Read More</a>
  </div>
    
  </div>
  
</div>
</div>

{% endblock %}
{% block script %}

<script type="text/javascript">
  var wishlist=JSON.parse(localStorage.getItem('mywish'));
       if(wishlist==null || wishlist==undefined)
          {
            wishlist={}
            x=0

          }
          else
          {
           
            Array.from(document.getElementsByClassName('mywishitems')).map(elem=>elem.innerHTML=Object.keys(wishlist).length);
            var keys=Object.keys(wishlist);
            }
  Array.from(document.getElementsByClassName('addtowish')).map(elem=>elem.addEventListener('click',addToWishlist));
 function addToWishlist(e){
 prod_id=this.getAttribute('data-prodid');
             if(wishlist[prod_id] === undefined )
           {
            alert("added to wishlist")
            wishlist[prod_id]=1
           }
           else
           {
            alert("already added to wishlist");
           }
           totalitem=Object.keys(wishlist).length;
           localStorage.setItem('mywish',JSON.stringify(wishlist));
                    axios.post('/sessionstore/',{
   "Wish":wishlist
  }).then(function(response){
    alert("Wishlist donw")
    // document.getElementsByClassName('message')[0].innerHTML=response.data;
          Array.from(document.getElementsByClassName('mywishitems')).map(elem=>{elem.innerHTML=totalitem});
         }).catch(err=>console.log(err));

 }
</script>

{% endblock %}

