{% extends "basic.html" %}
{% block content %} 

<div class="container my-2"> 

    MYSHOP today announced the launch of its product ‘exchange’ feature on the website. Through this feature, shoppers will have an option to exchange an existing product for a different size, without having to first return and then re-order the product. This add-on feature will benefit shoppers who are not satisfied with the size and prefer faster product exchanges. 

    To avail this exchange facility, online shoppers can either visit the website ( http://www.myntra.com/faqs#returns) or call customer care to place their request.  Myntra’s team will deliver the new product and take back the product to be exchanged during the same visit. This facility is available to all Myntra’s consumers across top 15 cities in India. The validity period for product exchange is 30 days from the day of purchase. 
    
    According to industry reports, close to 70 per cent of all product returns in the apparel and footwear category in e-commerce are due to size and fitment issues.

</div>

{% endblock %}